

.dashboard-header h3{
    font-weight:700;
}

.dashboard-header p{
    color:#6b7280;
}



.metric-card{
    transition:0.3s ease;
}

.metric-card:hover{
    transform:translateY(-5px);
}

.metric-value{
    font-size:2rem;
    font-weight:700;
}

.metric-title{
    color:#64748b;
    font-size:0.9rem;
}

.metric-sub{
    color:#94a3b8;
    font-size:0.85rem;
}




.chart-card{

    border-radius:22px;

    overflow:hidden;

}

.chart-card .card-body{

    padding:30px;

}

.chart-card h4{

    font-weight:700;

}

.chart-card canvas{

    margin-top:10px;

}

.chart-card:hover{

    transform:translateY(-5px);

}




.forecast-chart-container canvas{

    width: 100% !important;

    height: 100% !important;

}


.forecast-chart-container{

    position:relative;

    width:100%;

    height:300px;

}



.summary-card{

    display:flex;

    align-items:center;

    gap:18px;

    padding:18px;

    border-radius:16px;

    background:#f8fafc;

    transition:.3s;

}

.summary-card:hover{

    background:#eef4ff;

    transform:translateX(5px);

}

.summary-icon{

    width:55px;

    height:55px;

    border-radius:14px;

    color:white;

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:22px;

}

.summary-card h5{

    font-weight:700;

}

.doughnut-container{

    height:280px;

    position:relative;

}



.insight-card{

    display:flex;

    align-items:flex-start;

    gap:18px;

    padding:18px;

    margin-bottom:18px;

    border-radius:16px;

    background:#f8fafc;

    transition:.3s;

}

.insight-card:hover{

    background:#eef4ff;

    transform:translateX(6px);

}

.insight-card i{

    font-size:30px;

}

.insight-card h6{

    font-weight:700;

    margin-bottom:5px;

}

.insight-card p{

    margin:0;

    color:#64748b;

}
/* ======================================
Peak Cards
====================================== */

.peak-card{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:18px;

    margin-bottom:15px;

    border-radius:16px;

    background:#f8fafc;

    transition:.3s;

}

.peak-card:hover{

    background:#eef4ff;

    transform:translateX(6px);

}

.peak-card h5{

    margin:0;

    font-size:17px;

    font-weight:600;

}

.peak-card small{

    font-size:13px;

}