{% extends "base.html" %}

{% block content %}

<h1>
About Project
</h1>

<div class="card p-4">

    <h3>
        Smart Energy Consumption Forecasting
    </h3>

    <p>

        This project predicts household energy
        consumption using an LSTM Neural Network.

    </p>

    <ul>

        <li>Data Cleaning & EDA</li>

        <li>Feature Engineering</li>

        <li>LSTM Forecasting</li>

        <li>24 Hour Energy Forecast</li>

        <li>Peak Load Detection</li>

        <li>Recommendation Engine</li>

        <li>Flask Dashboard</li>

    </ul>

</div>

{% endblock %}