<!DOCTYPE html>
<html>

<head>

    <title>
        Energy Forecast Dashboard
    </title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

    <h1>
        Smart Energy Consumption Forecasting
    </h1>

    <div class="grid">

        <div class="card">
            <h2>MAE</h2>
            <p>{{ metrics.mae }}</p>
        </div>

        <div class="card">
            <h2>RMSE</h2>
            <p>{{ metrics.rmse }}</p>
        </div>

        <div class="card">
            <h2>R² Score</h2>
            <p>{{ metrics.r2 }}</p>
        </div>

    </div>

    <div class="card">

        <h2>Peak Hours</h2>

        <ul>

        {% for hour in peak_hours %}

            <li>{{ hour }}</li>

        {% endfor %}

        </ul>

    </div>

    <div class="card">

        <h2>Recommendations</h2>

        <ul>

        {% for rec in recommendations %}

            <li>{{ rec }}</li>

        {% endfor %}

        </ul>

    </div>

    <div class="card">

        <h2>24 Hour Forecast</h2>

        <table>

            <tr>

                <th>Time</th>
                <th>Forecast (Wh)</th>

            </tr>

            {% for row in forecast %}

            <tr>

                <td>{{ row.Time }}</td>

                <td>
                    {{ "%.2f"|format(row.Forecast_Wh) }}
                </td>

            </tr>

            {% endfor %}

        </table>

    </div>

    <div class="card">

        <h2>Forecast Graph</h2>

        <img
        src="{{ url_for('static',
        filename='images/forecast_24h.png') }}">

    </div>

    <div class="card">

        <h2>Feature Importance</h2>

        <img
        src="{{ url_for('static',
        filename='images/feature_importance.png') }}">

    </div>

    <div class="card">

        <h2>Training vs Validation Loss</h2>

        <img
        src="{{ url_for('static',
        filename='images/training_validation_loss.png') }}">

    </div>

</div>

</body>
</html>